---
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';
import { SITE_TITLE } from '../../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`Search | ${SITE_TITLE}`} description="Search wc notes." />
		<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
	</head>
	<body>
		<Header />
		<main>
			<h1>Search</h1>
			<div id="search"></div>
		</main>
		<Footer />
		<script is:inline src="/pagefind/pagefind-ui.js"></script>
		<script is:inline>
			window.addEventListener('DOMContentLoaded', () => {
				new PagefindUI({ element: '#search', showSubResults: true });
			});
		</script>
	</body>
</html>
